#grid {
    display: grid;
    width: 500px;
    height: 500px;
    outline: solid black 4px;
    margin:auto;
}

#heading {
    text-align: center;
}

#gridBtn {
    position: relative;
    left: 50%;
    transform: translateX(-50%);

    margin-bottom: 8px;
    margin-top: 8px;
}